doc/XML/locale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="locales" type="localesType"/>
    <xs:complexType name="localeType">
        <xs:sequence>
            <xs:element name="de"/>
            <xs:element name="en"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="html" use="optional"/>
    </xs:complexType>
    <xs:complexType name="groupsType">
        <xs:sequence>
            <xs:element type="localeType" name="locale" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="datatype" use="optional"/>
    </xs:complexType>
    <xs:complexType name="localesType">
        <xs:sequence>
            <xs:element type="groupsType" name="groups" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>