doc/XML/panels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quiqqer" type="quiqqerType"/>
  <xs:complexType name="localeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="group" use="optional"/>
        <xs:attribute type="xs:string" name="var" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="titleType">
    <xs:sequence>
      <xs:element type="localeType" name="locale"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:sequence>
      <xs:element type="localeType" name="locale"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="panelType">
    <xs:sequence>
      <xs:element type="xs:string" name="image"/>
      <xs:element type="titleType" name="title"/>
      <xs:element type="textType" name="text"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="require"/>
  </xs:complexType>
  <xs:complexType name="panelsType">
    <xs:sequence>
      <xs:element type="panelType" name="panel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="quiqqerType">
    <xs:sequence>
      <xs:element type="panelsType" name="panels"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>