doc/XML/permissions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="permissions" type="permissionsType"/>
  <xs:complexType name="permissionType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="defaultvalue" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="area" use="optional"/>
  </xs:complexType>
  <xs:complexType name="permissionsType">
    <xs:sequence>
      <xs:element type="permissionType" name="permission" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>