doc/XML/widgets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="widgets" type="widgetsType"/>
  <xs:complexType name="attributesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="height"/>
        <xs:attribute type="xs:string" name="width"/>
        <xs:attribute type="xs:string" name="icon"/>
        <xs:attribute type="xs:string" name="refresh"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="func"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="widgetType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="title" minOccurs="0"/>
      <xs:element type="attributesType" name="attributes" minOccurs="0"/>
      <xs:element type="contentType" name="content" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="src" use="optional"/>
  </xs:complexType>
  <xs:complexType name="widgetsType">
    <xs:sequence>
      <xs:element type="widgetType" name="widget" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>